{% extends "layout.html" %}

{% from "macros/form_inputs.html" import
    input_submit,
    input_csrf_token,
    input_text,
    input_checkbox,
    input_textarea,
    input_radios
    with context
    %}

{% from "macros/general.html" import
        display_subnav,
        set_account_status_img,
        display_domain_cn,
        display_preferred_language,
        display_timezones,
        display_account_status,
        display_domain_backupmx,
        display_quota,
        display_input_mail
        with context
        %}

{% from "macros/msg_handlers.html" import domain_msg_handler with context %}

{% block title %}{{ _('System Settings') }}{% endblock %}

{# Domain profile. #}
{% block main %}

{# Show system message #}
{{ domain_msg_handler(msg) }}

<div class="content-box">
    <div class="box-body">
        <div class="box-wrap clear">
            {% set navlinks = [
                ('settings', _('System Settings'), true),
                ('spampolicy', _('Global Spam Policy'), true),
                ('wblist', _('Whitelists & Blacklists'), true),
                ('greylisting', _('Greylisting'), true),
                ('throttle', _('Throttle'), true),
                ]
                %}
            <ul class="tabs clear">
                {% for nav in navlinks %}
                    {% if not false in nav[2] and not none in nav[2] %}
                        <li><a href="#form_{{ nav[0] }}">{{ nav[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            {# form_type: settings #}
            <div id="form_settings" style="display: block">
                <form name="settings" method="post" action="{{ctx.homepath}}/system/settings">
                    <!--suppress ALL -->
                    {{ input_csrf_token() }}

                    <div class="columns clear">
                        <h2>Mailbox</h2>
                        <div class="rule">&nbsp;</div>
                        <div class="col2-3">
                            {{ input_radios(input_name='mailbox_format',
                                label=_('Default mailbox format'),
                                options=[('maildir', _('Maildir (One message per file). Recommended.')),
                                         ('mdbox', _('Mdbox (Multiple messages per file)'))],
                                enable_input=false) }}
                            {{ input_text(input_name='mailbox_folder',
                                label=_('Default mailbox folder'),
                                comment=_('Only letters (case sensitive) and digits are allowed, max 20 chars'),
                                enable_input=false) }}
                        </div>
                        <div class="col1-3 lastcol">
                            <div class="mark_blue bt-space10">
                                <ul class="standard clean-padding bt-space10">
                                    <li>It affects newly created mailboxes, not existing ones.</li>
                                    <li>Maildir is easy to migrate, backup and restore.</li>
                                    <li>Mdbox has better performance, but corrupted/lost index files will cause data lose and can not be recovered.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="columns clear">
                        <h2>Password</h2>
                        <div class="rule">&nbsp;</div>
                        <div class="col2-3">
                            {{ input_text(input_name='min_passwd_length',
                                label=_('Minimum password length'),
                                size=4, enable_input=false) }}
                            {{ input_text(input_name='max_passwd_length',
                                label=_('Maximum password length'),
                                size=4, enable_input=false) }}
                            {{ input_checkbox(input_name='password_has_letter',
                                label=_('Require at least one letter'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='password_has_uppercase',
                                label=_('Require at least one uppercase letter'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='password_has_number',
                                label=_('Require at least one number'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='password_has_special_char',
                                label=_('Require at least one special character'),
                                enable_input=false) }}
                        </div>
                    </div>
                    <div class="columns clear">
                        <h2>Login Restrictions</h2>
                        <div class="rule">&nbsp;</div>
                        <div class="col2-3">
                            {{ input_textarea(input_name='admin_login_ip_list',
                                label=_('All admins can only login from specified IP addresses or networks'),
                                comment=_('One IP address or network per line. Invalid address or network will be discarded.'),
                                rows=4, cols='50%', enable_input=false) }}
                            {{ input_textarea(input_name='global_admin_ip_list',
                                label=_('Global admin can only login from specified IP addresses or networks'),
                                comment=_('One IP address or network per line. Invalid address or network will be discarded.'),
                                rows=4, cols='50%', enable_input=false) }}
                            {{input_textarea(input_name='restful_api_clients',
                                label=_('RESTful API is accessible only from specified IP addresses or networks'),
                                comment=_('One IP address or network per line. Invalid address or network will be discarded.'),
                                rows=4, cols='50%', enable_input=false) }}
                        </div>
                    </div>
                    <div class="columns clear">
                        <h2>Data Clean Up</h2>
                        <div class="rule">&nbsp;</div>
                        <div class="col2-3">
                            {{ input_text(input_name='amavisd_remove_maillog_in_days',
                                label=_('Remove log of inbound/outbound mails older than'),
                                comment=_('Days'), comment_as_label=true,
                                size=4, enable_input=false) }}
                            {{ input_text(input_name='amavisd_remove_quarantine_in_days',
                                label=_('Remove quarantined mails older than'),
                                comment=_('Days'), comment_as_label=true,
                                size=4, enable_input=false) }}
                        </div>
                    </div>
                    {{ input_submit() }}
                </form>
            </div>

            {# form_type: domain_ownership #}
            <div id="form_domain_ownership" style="display: block">
                <form name="ownership" method="post" action="{{ctx.homepath}}/system/domain_ownership">
                    <!--suppress ALL -->
                    {{ input_csrf_token() }}
                    <div class="columns clear">
                        <h2>Domain ownership verfication</h2>
                        <div class="rule">&nbsp;</div>
                        <p>Please verify mail domains listed below, to ensure
                            that it is an valid domain and you have the required
                            privileges in the domain to manage the email services.
                            Mail services are disabled for pending domains, and
                            will be enabled automatically after verified.</p>
                        <p>To verify domain ownership, please choose one of methods listed below:</p>
                        <ul class="standard clean-padding bt-space20">
                            <li>Create a text file under top directory of your web site, both file name and file content must be same as verify code</li>
                            <li>Create a TXT type DNS record of the domain name, use the verify code as its value</li>
                        </ul>
                        <form id="form_domain_ownership" method="post" action="/verify/domain_ownership">
                            <table class="style1">
                                <thead>
                                    <tr>
                                        <th class="checkbox">
                                            <input class="checkbox select-all" type="checkbox">
                                        </th>
                                        <th>Domain</th>
                                        <th style="wiite-space: nowrap;">Verify code</th>
                                        <th>Admin</th>
                                        <th>Last verify status</th>
                                        <th>Last verify time</th>
                                    </tr>
                                </thead>
                            </table>
                        </form>
                    </div>
                </form>
            </div>

            {# form_type: spampolicy #}
            <div id="form_spampolicy" style="display: block">
                <form name="spampolicy" method="post" action="{{ctx.homepath}}/system/spampolicy">
                    <!--suppress ALL -->
                    {{ input_csrf_token() }}
                    <div class="notification note-info">
                        <p><i class="fa fa-info fa-lg fa-fw"> Account does not have specific spam policy yet, server-wide policy will be applied.</i></p>
                    </div>
                    <div class="columns clear">
                        <div class="col2-3">
                            {{ input_checkbox(input_name='enable_spam_checks',
                                label=_('Spam checking'),
                                comment=_('Enable spam checking'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='spam_quarantine_to',
                                label=_(' '),
                                comment=_('Quarantine spam'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='enable_virus_checking',
                                label=_('Virus checking'),
                                comment=_('Enable virus checking'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='virus_quarantine_to',
                                label=_(' '),
                                comment=_('Quarantine virus'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='enable_header_checks',
                                label=_('Bad-header checking'),
                                comment=_('Enable bad-header checking'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='bad_header_quarantine_to',
                                label=_(' '),
                                comment=_('Quarantine bad-header email'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='enable_banned_checks',
                                label=_('Banned file type checking'),
                                comment=_('Enable banned file type checking'),
                                enable_input=false) }}
                            {{ input_checkbox(input_name='banned_quarantine_to',
                                label=_(' '),
                                comment=_('Quarantine email which contains banned file types'),
                                enable_input=false) }}
                        </div>
                    </div>
                    <div class="rule">&nbsp;</div>
                    <div class="columns clear">
                        <div class="col2-3">
                            {{ input_checkbox(input_name='modify_spam_subject',
                                label=_('Prefix text [SPAM] to subject of spam'),
                                enable_input=false) }}
                            {{ input_text(input_name='spam_tag2_level',
                                label=_('Mark mail as spam when score is'),
                                comment=_('Default is 6'),
                                comment_as_label=true, enable_input=false) }}
                            {{ input_text(input_name='spam_kill_level',
                                label=_('Block or quarantine marked spam when score is >='),
                                comment=_('Default is 6.9'),
                                comment_as_label=true, enable_input=false) }}
                            {{ input_checkbox(input_name='always_insert_x_spam_headers',
                                label=_('Always insert X-Spam-* headers'),
                                enable_input=false) }}
                        </div>
                        <div class="col1-3 lascol">
                            <div class="mark_blue bt-space10">
                                <ul class="standard clean-padding bt-space10">
                                    <li class="bt-space5">If many clean mails were marked as spam, please slightly increase the score.</li>
                                    <li class="bt-space5">If many spam message were not classified, please slightly decrease the score.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ input_submit() }}
                </form>
            </div>

            {# form_type: WBlist #}
            <div id="form_wblist" style="display: block">
                <form name="wblist" method="post" action="{{ctx.homepath}}/system/wblist">
                    <!--suppress ALL -->
                    {{ input_csrf_token() }}
                    <h2>Whitelists and Blacklists based on sender addresses</h2>
                    <div class="rule">&nbsp;</div>
                    <div class="columns clear">
                        <div class="col2-3">
                            <h3>For Inbound Mails</h3>
                            <div class="rule"></div>
                            <div class="col1-2">
                                <div class="col1-3">
                                    {{ input_textarea(input_name='whitelistSender',
                                        label=_('Whitelisted senders'),
                                        comment=_('(One record per line.)'),
                                        enable_input=false,
                                        rows=15, cols='95%') }}
                                </div>
                            </div>
                            <div class="col1-2 lastcol">
                                <div class="col1-3">
                                    {{ input_textarea(input_name='blacklistSender',
                                        label=_('Blacklisted senders'),
                                        comment=_('(One record per line.)'),
                                        enable_input=false,
                                        rows=15, cols='95%') }}
                                </div>
                            </div>

                            <h3>For Outbound Mails</h3>
                            <div class="rule"></div>
                            <div class="col1-2">
                                <div class="col1-3">
                                    {{ input_textarea(input_name='whitelistRecipient',
                                        label=_('Whitelisted recipients'),
                                        comment=_('(One record per line.)'),
                                        enable_input=false,
                                        rows=15, cols='95%') }}
                                </div>
                            </div>
                            <div class="col1-2 lastcol">
                                <div class="col1-3">
                                    {{ input_textarea(input_name='blacklistRecipient',
                                        label=_('Blacklisted recipients'),
                                        comment=_('(One record per line.)'),
                                        enable_input=false,
                                        rows=15, cols='95%') }}
                                </div>
                            </div>
                        </div>
                        <div class="col1-3 lastcol">
                            <div class="mark_blue bt-space10">
                                <ul class="standard clean-padding bt-space10">
                                    <li class="bt-space5">Whitelist has higher priority than blacklist.</li>
                                    <li class="bt-space5">Per-user whitelists &amp; blacklists has highest priority, then per-domain setting, then global setting.</li>
                                    <li class="bt-space5">Mails sent from blacklisted senders will be quarantined by default.</li>
                                </ul>
                                <h4>Valid record formats</h4>
                                <ul class="standard clean-padding bt-space10">
                                    <li><strong>IP Address</strong>
                                        <ul>
                                            <li>Single IP Address: <em><u>192.168.2.10</u></em></li>
                                            <li>IP CIDR Network: <em><u>192.168.2.0/24, 2620:0:2d0:200::7/128</u></em></li>
                                        </ul>
                                    </li>
                                    <li class="bt-space5"><strong>Single user</strong>: <u>user@domain.tld</u></li>
                                    <li class="bt-space5"><strong>User with wildcard</strong>: <u>user@*</u></li>
                                    <li class="bt-space5"><strong>Entire domain</strong>: <u>@domain.tld</u></li>
                                    <li class="bt-space5"><strong>Domain and its sub-domains</strong>: <u>@.domain.tld</u></li>
                                    <li class="bt-space5"><strong>All accounts</strong>: <u style="color: red;">@.</u></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="columns clear"></div>
                    {{ input_submit() }}
                </form>
            </div>

            {# form_type: Greylisting #}
            <div id="form_greylisting" style="display: block">
                <form name="greylisting" method="post" action="{{ctx.homepath}}/system/greylisting">
                    <!--suppress ALL -->
                    {{ input_csrf_token() }}
                    <h2>Greylisting</h2>
                    <div class="rule">&nbsp;</div>
                    <div class="columns clear">
                        <div class="col2-3">
                            {{ input_radios(input_name='greylisting',
                                label=_('Greylisting service for this domain'),
                                enable_input=false,
                                options=[('inherit', _('Inherit global setting')),
                                         ('enable', _('Enable greylisting service')),
                                         ('disable', _('Disable greylisting service'))]) }}
                        </div>
                        <div class="col1-3 lastcol">
                            <div class="mark_blue">
                                <p style="padding-bottom: 10px;"><a href="#about_greylisting" class="label modal-link">{{ _('About greylisting') }}</a></p>
                            </div>
                        </div>
                        <div id="about_greylisting" class="modal-window modal-600">
                            <h2>About greylisting</h2>
                            <div class="rule3"></div>
                            <ul class="standard clean-padding bt-space10">
                                <li class="bt-space10">Greylisting is a method of
                            defending your email users against spam. A mail transfer agent (MTA,
                            e.g. Postfix) using greylisting will temporarily reject any email from a
                            sender it does not recognize. If the mail is legitimate the originating
                            server will, after a delay, try again and, if sufficient time has
                            elapsed (usually 7 to 30 minutes), the email will be accepted.</li>
                                <li class="bt-space10">Greylisting helps block out huge amounts of spam, not recommended to turn it off.</li>
                                <li class="bt-space10">Refer to <a href="http://www.greylisting.org/" target="_blank" rel="noopener">greylisting.org</a> for technical details about greylisting.</li>
                            </ul>
                            <div class="bt-space0">&nbsp;</div>
                        </div>
                        <div class="col2-3">
                            {{ input_textarea(input_name='whitelists',
                                label=_('Do not apply greylisting on listed senders'),
                                comment=_('One sender per line.'),
                                enable_input=false,
                                is_list_of_emails=true, rows=15) }}
                        </div>
                        <div class="col1-3 lastcol">
                            <div class="mark_blue bt-space10">
                                <h4>Sender address format</h4>
                                <ul class="standard clean-padding bt-space10">
                                    <li><strong>IP Address</strong>
                                        <ul>
                                            <li>Single IP Address: <em><u>192.168.2.10</u></em></li>
                                            <li>CIDR formatted range of IP addresses: <em><u>192.168.2.0/24</u></em></li>
                                        </ul>
                                    </li>
                                    <li><strong>Email address or domain names</strong>
                                        <ul>
                                            <li>Single user: <em><u>user@example.com</u></em></li>
                                            <li>Entire domain: <em><u>@example.com</u></em></li>
                                            <li>All sub-domains: <em><u>@.example.com</u></em></li>
                                        </ul>
                                    </li>
                                    <li>Record comment can be added after a #: <em><u>192.168.2.20 # Comment</u></em></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="columns clear"></div>
                    {{ input_submit() }}
                </form>
            </div>

            {# form_type: Throttling #}
            <div id="form_throttle" style="display: block">
                <form name="throttle" method="post" action="{{ctx.homepath}}/system/throttle">
                    <!--suppress ALL -->
                    {{ input_csrf_token() }}
                    <div class="columns clear">
                        <div class="col1-3-compat">
                            {{ input_checkbox(input_name='enable_outbound_throttling',
                                label=_('Throttle outbound mails'),
                                label_after_box=true,
                                field_class='form-field clear bt-space10',
                                item_class='form-field-item clear bt-space10',
                                label_style='font-weight:bold;',
                                required=true, enable_input=false)}}

                            {%- set custom_field = 'Custom: <input type="text" name="custom_outbound_period" size=10> Seconds' %}
                            {{ input_radios(input_name='outbound_period',
                                label=_('Period of time'),
                                only_first_label=true,
                                label_class='',
                                field_class='form-field clear bt-space10',
                                required=true, escape_html=false,
                                enable_input=false,
                                options=[('86400', _('1 Day')),
                                         ('3600', _('1 Hour')),
                                         ('60', _('1 Minute')),
                                         ('', custom_field)])}}

                            {%- set custom_field = 'Custom: <input type="text" name="custom_outbound_max_msgs" size=15>' %}
                            {{ input_radios(input_name='outbound_max_msgs',
                                 label=_('Number of max outbound emails'),
                                 only_first_label=true,
                                 label_class='', field_class='form-field clear bt-space10',
                                 escape_html=false,
                                 enable_input=false,
                                 options=[('-1', _('Inherit global throttle setting')),
                                          ('0', _('Unlimited')),
                                          ('', custom_field)]) }}

                            {%- set custom_field = 'Custom: <input type="text" name="custom_outbound_max_quota" size=15> Bytes' %}
                            {{ input_radios(input_name='outbound_max_quota',
                                 label=_('Cumulative size of all outbound emails'),
                                 only_first_label=true,
                                 label_class='', field_class='form-field clear bt-space10',
                                 escape_html=false,
                                 enable_input=false,
                                 options=[(-1, _('Inherit from account which has lower priority')),
                                          (0, _('Unlimited')),
                                          ('', custom_field)]) }}

                            {%- set custom_field = 'Custom: <input type="text" name="custom_outbound_msg_size" size=15> Bytes' %}
                            {{ input_radios(input_name='outbound_msg_size',
                                 label=_('Max size of single email'),
                                 only_first_label=true,
                                 label_class='', field_class='form-field clear bt-space10',
                                 escape_html=false,
                                 enable_input=false,
                                 options=[(-1, _('Inherit from account which has lower priority')),
                                          (0, _('Unlimited')),
                                          ('', custom_field)]) }}
                        </div>
                        <div class="col1-3-compat-left-border">
                            {{ input_checkbox(input_name='enable_inbound_throttling',
                                label=_('Throttle inbound mails'),
                                label_after_box=true,
                                field_class='form-field clear bt-space10',
                                item_class='form-field-item clear bt-space10',
                                label_style='font-weight:bold;',
                                enable_input=false,
                                required=true)}}

                            {%- set custom_field = 'Custom: <input type="text" name="custom_inbound_period" size=10> Seconds' %}
                            {{ input_radios(input_name='inbound_period',
                                label=_('Period of time'),
                                only_first_label=true,
                                label_class='',
                                field_class='form-field clear bt-space10',
                                required=true, escape_html=false,
                                enable_input=false,
                                options=[('86400', _('1 Day')),
                                         ('3600', _('1 Hour')),
                                         ('60', _('1 Minute')),
                                         ('', custom_field)])}}

                            {%- set custom_field = 'Custom: <input type="text" name="custom_inbound_max_msgs" size=15>' %}
                            {{ input_radios(input_name='inbound_max_msgs',
                                 label=_('Number of max inbound emails'),
                                 only_first_label=true,
                                 label_class='', field_class='form-field clear bt-space10',
                                 escape_html=false,
                                 enable_input=false,
                                 options=[('-1', _('Inherit global throttle setting')),
                                          ('0', _('Unlimited')),
                                          ('', custom_field)]) }}

                            {%- set custom_field = 'Custom: <input type="text" name="custom_inbound_max_quota" size=15> Bytes' %}
                            {{ input_radios(input_name='inbound_max_quota',
                                 label=_('Cumulative size of all inbound emails'),
                                 only_first_label=true,
                                 label_class='', field_class='form-field clear bt-space10',
                                 escape_html=false,
                                 enable_input=false,
                                 options=[(-1, _('Inherit from account which has lower priority')),
                                          (0, _('Unlimited')),
                                          ('', custom_field)]) }}

                            {%- set custom_field = 'Custom: <input type="text" name="custom_inbound_msg_size" size=15> Bytes' %}
                            {{ input_radios(input_name='inbound_msg_size',
                                 label=_('Max size of single email'),
                                 only_first_label=true,
                                 label_class='', field_class='form-field clear bt-space10',
                                 escape_html=false,
                                 enable_input=false,
                                 options=[(-1, _('Inherit from account which has lower priority')),
                                          (0, _('Unlimited')),
                                          ('', custom_field)]) }}
                        </div>
                        <div class="col1-3 lastcol">
                            <div class="mark_blue bt-space10">
                                <ul class="standard clean-padding bt-space10">
                                    <li class="bt-space5">{{ _('This throttle setting will be applied to all individual accounts under domain') }}</li>
                                    <li class="bt-space5">{{ _('You can set per-user throttling in account profile page.') }}</li>
                                    <li class="bt-space5">{{ _('Per-user throttle setting has higher priority.') }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ input_submit() }}
                </form>
            </div>
        </div><!-- .box-wrap -->
    </div><!-- .box-body -->
</div><!-- .content-box -->
{% endblock main %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    $(".tabs li").idTabs("form_{{ form_type }}")
});
</script>
{% endblock extra_js %}
