{% macro input_csrf_token(token=none) -%}
    {% if token is sameas none %}
        {% set token = csrf_token() %}
    {% else %}
        {% set token = token |e %}
    {% endif %}

    <!--suppress ALL -->
    <input type="hidden" name="csrf_token" value="{{ token }}"/>
{%- endmacro %}


{% macro input_text(label,
                    input_name,
                    value=None,
                    required=False,
                    multivalue=False,
                    multivalue_parent_css_id=None,
                    enable_input=true,
                    comment=none,
                    comment_as_tooltip=false,
                    comment_as_text=false,
                    comment_as_label=false,
                    comment_class=none,
                    size=35,
                    maxlength=0) -%}
    {%- if not value %}
        {%- set value = '' %}
    {%- endif %}

    <div class="form-field clear">
        <h4 class="size-250 fl-space">{{ label }}{% if required %}<span class="required">*</span>{% endif %}</h4>
        <input type="text"
               size="{{ size }}"
               name="{{ input_name |e }}"
               value="{{ value |e }}"
               class="text {% if not enable_input %}disabled{% endif %}"
               {% if not enable_input %}disabled="disabled"{% endif %}
               {% if maxlength %}maxlength="{{ maxlength |e }}"{% endif %}
               />{% if enable_input %}{% if multivalue %}<input type="button" value="+" onclick="add_input_inside_id('{{ multivalue_parent_css_id }}', '{{ input_name }}')" />{% endif %}{% endif %}

        {%- if comment %}
            {%- if comment_as_tooltip %}
                <i class="fa fa-info-circle fa-lg"
                   title="{{ comment | e}}"
                   style="cursor: help;"></i>
            {%- elif comment_as_text %}
                {{ comment |e }}
            {%- elif comment_as_label %}
                <label {% if comment_class %}class="{{comment_class}}"{% endif %}>{{comment | e}}</label>
            {%- else %}
                <small>{{ comment |e }}</small>
            {%- endif %}
        {%- endif %}
    </div>
{%- endmacro %}


{% macro input_radios(label,
                      input_name,
                      options,
                      value=None,
                      required=False,
                      comment=none,
                      comment_as_tooltip=false,
                      field_class='form-field clear',
                      label_class='size-250 fl-space',
                      item_class='form-radio-item clear',
                      only_first_label=false,
                      escape_html=true,
                      enable_input=true) -%}
    {#-
        `options` must be a list with 2-element tuples:

        [('<input_value>', '<description>', '<extra-comment>'), ...]
    -#}
    {%- if not value %}
        {%- set value = '' %}
    {%- endif %}
    <div {% if field_class %}class="{{field_class}}"{% endif %}>
    {%- for (_opt_value, _opt_desc) in options %}
        {%- if loop.first -%}
        <h4 {% if label_class %}class="{{ label_class }}"{% endif %}>
            {{ label }}
            {%- if required -%}<span class="required">*</span>{%- endif -%}
            {%- if comment -%}
                {%- if comment_as_tooltip -%}
                    &nbsp;
                    <i class="fa fa-info-circle fa-lg .color-green"
                       title="{{ comment | e}}"
                       style="cursor: help;"></i>
                {%- else -%}
                    {{ comment |e }}
                {%- endif -%}
            {%- endif -%}
        </h4>
        {%- elif not only_first_label %}
        <h4 {% if label_class %}class="{{ label_class }}"{% endif %}>&nbsp;</h4>
        {%- else %}
        <p {% if label_class %}class="{{ label_class }}"{% endif %}>&nbsp</p>
        {%- endif -%}
        <div {% if item_class %}class="{{item_class}}"{% endif %}>
        <input type="radio"
               class="radio {% if not enable_input %}disabled{% endif %}"
               name="{{ input_name |e }}"
               value="{{ _opt_value |e }}"
               {% if not enable_input %}disabled="disabled"{% endif %}
               {% if value == _opt_value %}checked="checked"{% endif %}
               />{% if _opt_desc %}{% if escape_html %} {{ _opt_desc |e }}{% else %} {{ _opt_desc }}{% endif %}{% endif %}        </div>
    {% endfor %}
    </div>
{% endmacro %}


{% macro input_checkbox(label,
                        input_name,
                        value=none,
                        checked=false,
                        required=false,
                        enable_input=true,
                        label_after_box=false,
                        comment=none,
                        comment_as_tooltip=false,
                        pre_text=none,
                        pre_text_class=none,
                        field_class='form-field clear',
                        label_class='size-250 fl-space',
                        label_style=none,
                        item_class='form-checkbox-item clear',
                        escape_html=true,
                        add_hidden_input=false) -%}
    <div class="{{ field_class }}">
        {%- if label_after_box %}
        <div class="{{ item_class }}">
            {%- if pre_text %}
            <span {% if pre_text_class %}class="{{pre_text_class}}"{% endif %}>{{pre_text}}</span>
            {%- endif %}
            <input type="checkbox"
               class="checkbox {% if not enable_input %}disabled{% endif %}"
               name="{{ input_name |e }}"
               {%- if value %}value="{{value}}"{% endif %}
               {%- if checked in [true, 'yes'] %}checked="checked"{% endif %}
               {%- if not enable_input %}disabled="disabled"{% endif %}
               />
            <label {% if label_style %}style="{{label_style}}"{% endif %}>{% if label %}{{ label }}{% else %}&nbsp;{% endif %}{% if required %}&nbsp;<span class="required">*</span>{% endif %}</label>
        </div>
        {%- else %}
        <h4 class="{{label_class}}">{% if label %}{{ label }}{% else %}&nbsp;{% endif %}{% if required %}<span class="required">*</span>{% endif %}</h4>
        <div class="{{ item_class }}">
            {%- if pre_text %}
            <span {% if pre_text_class %}class="{{pre_text_class}}"{% endif %}>{{pre_text}}</span>
            {%- endif %}
            <input type="checkbox"
               class="checkbox {% if not enable_input %}disabled{% endif %}"
               name="{{ input_name |e }}"
               {%- if value %}value="{{value}}"{% endif %}
               {%- if checked in [true, 'yes'] %}checked="checked"{% endif %}
               {%- if not enable_input %}disabled="disabled"{% endif %}
               />
            {%- if comment %}
                {%- if comment_as_tooltip %}
                <i class="fa fa-info-circle fa-lg"
                   title="{{ comment | e}}"
                   style="cursor: help;"></i>
                {%- else %}
                    {%- if escape_html %}
                {{ comment |e }}
                    {%- else %}
                {{ comment }}
                    {%- endif %}
                {%- endif %}
            {%- endif %}
        </div>
        {%- endif %}
        {%- if add_hidden_input %}
        <input type="hidden" name="hidden_{{ input_name |e }}" />
        {%- endif %}
    </div>
{% endmacro %}

{% macro input_textarea(label,
                        input_name,
                        value=None,
                        comment=None,
                        is_list_of_emails=False,
                        is_list_of_ip_or_network=False,
                        required=False,
                        enable_input=true,
                        rows=4,
                        cols='50%') -%}
    {% if not value %}
        {% set value = '' %}
    {% endif %}

    <div class="form-field clear">
        <h4 class="size-250 fl-space">{{ label }}{% if required %}<span class="required">*</span>{% endif %}</h4>
        {% if is_list_of_emails %}
            <small>{{ _('One mail address per line. Invalid address will be discarded.') }}</small>
        {% elif is_list_of_ip_or_network %}
            <small>{{ _('One IP address or network per line. Invalid address or network will be discarded.') }}</small>
        {% endif %}
        <textarea name="{{ input_name }}"
                  rows="{{ rows }}"
                  {%- if '%' in cols %}
                  style="width:{{cols}};"
                  {%- else %}
                  cols="{{ cols }}"
                  {%- endif %}
                  class="textarea {% if not enable_input %}disabled{% endif %}"
                  {% if not enable_input %}disabled="disabled"{% endif %}
                  >{% if is_list_of_emails or is_list_of_ip_or_network %}{% for addr in value |sort %}{{ addr |e }}
{% endfor %}{% else %}{{ value | e }}{% endif %}</textarea>
    </div>
{%- endmacro %}

{% macro input_select(label, input_name, options, value=none, offer_none=false) -%}
    <div class="form-field clear">
        <h4 class="size-250 fl-space">{% if label %}{{ label |e }}{% else %}&nbsp;{% endif %}</h4>

        <select name="{{ input_name }}">
            {% if offer_none %}
                <option value="none" {% if not value %}selected{% endif %}></option>
            {% endif %}

            {% for opt in options %}
                <option value="{{ opt }}" {% if opt == value %}selected{% endif %}>{{ opt }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}


{% macro input_submit(label=none,
                      name=none,
                      color='green',
                      float=none,
                      add_rule=true) -%}
    {%- if add_rule %}
    <div class="rule2"></div>
    {%- endif %}
    <div class="form-field clear">
        <h4 class="size-250 fl-space">&nbsp;</h4>
        <span>
            <input type="submit"
                   class="button {{ color |e }}
                          {% if float == 'left' %}fl-space{% elif float == 'right' %}fr-space{% endif %}"
                   {% if name %}name="{{ name }}"{% endif %}
                   value="{% if label %}{{ label |e }}{% else %}{{ _('Save changes') }}{% endif %}"
                   />
        </span>
    </div>
{%- endmacro %}
