{% from "macros/form_inputs.html" import
    input_text,
    input_csrf_token
    with context
    %}

{# ------------ Load JS files ------------- #}
{% macro load_jquery() -%}
    <script type="text/javascript" src="{{ctx.homepath}}/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{{ctx.homepath}}/static/js/jquery.tooltip.js"></script>
    <script type="text/javascript" src="{{ctx.homepath}}/static/js/jquery.idtabs.js"></script>
    <script type="text/javascript" src="{{ctx.homepath}}/static/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="{{ctx.homepath}}/static/js/jquery.quickfilter.js"></script>
    <script type="text/javascript" src="{{ctx.homepath}}/static/js/stupidtable.min.js"></script>

    <script type="text/javascript">
        function remove_element_by_id(css_id) {
            document.getElementById(css_id).remove();
        }

        {# Append a <input> child to css ID. #}
        function add_input_inside_id(css_id, name) {
            {# Get children length of current id #}
            var e = document.getElementById(css_id);
            var length = e.children.length;

            {# Generate a unique css id #}
            var new_id = name + '_' + (length + 1);

            var elem = document.createElement('div');
            elem.innerHTML = '<div class="form-field clear" id="' + new_id + '">' +
                             '<h4 class="size-250 fl-space">&nbsp;</h4>' +
                             '<input type="text" size="35" class="text" ' +
                                'name="' + name + '" ' +
                                'value="" />' +
                             '<input type="button" value="+" onclick="add_input_inside_id(\'' + css_id + '\', \'' + name + '\')" />' +
                             '<input type="button" value="-" onclick="remove_element_by_id(\'' + new_id  + '\')" />' +
                             '</div>';

            document.getElementById(css_id).appendChild(elem);
        }

    {# Addition JS/jQuery functions #}
    $(document).ready(function() {
        {# -- Menus -- #}
        $('.menu li').hover(function () {
            $(this).find('ul:first').css({'visibility': 'visible', 'display': 'none'}).slideDown();
        }, function () {
            $(this).find('ul:first').css({visibility: "hidden"});
        });

        {# Content Boxes #}
        {# Select/deselect all in account list table #}
        $('.content-box .select-all').click(function () {
            if ($(this).is(':checked'))
                $(this).parent().parent().parent().parent().find('[type="checkbox"]').prop('checked', true);
            else
                $(this).parent().parent().parent().parent().find('[type="checkbox"]').prop('checked', false);
        });

        {# Tabs #}
        $('.content-box .tabs').idTabs();

        {# Notifications #}
        $('.notification .close').click(function () {
            $(this).parent().fadeOut(100);
            return false;
        });

        {# tooltip #}
        $("a[title], img[title], span[title], input[title], i[title]").tooltip({
            position: "top center",
            offset: [-5, 0],
            predelay: 200,
            delay: 100,
            effect: "fade",
            opacity: 1
        });

        {# -- Fancybox -- #}
        $('.modal-link').fancybox({
            'modal'                 : false,
            'hideOnOverlayClick'    : true,
            'hideOnContentClick'    : false,
            'enableEscapeButton'    : true,
            'showCloseButton'       : true,
            'speedOut'              : 0
        });
        $("a[href$='gif']").fancybox();
        $("a[href$='jpg']").fancybox();
        $("a[href$='png']").fancybox();

        {# stupid table #}
        $("table").stupidtable();

        {# Display quarantined email #}
        $('.box-slide-head > td > span').click(function (event) {
            tgt = $(event.target);
            if (tgt.hasClass('clickable')) {
                return;
            }

            mailid = $(this).parents('tr').attr('id');
            mailid_orig = $(this).parents('tr').attr('mailid');
            body = $('#box-tr-'+mailid);
            if (!body.hasClass('box-slide-tr')) {
                $.get('{{ctx.homepath}}/activities/quarantined/raw/'+mailid_orig, function(data) {
                    if (data != ''){
                        $('#'+mailid).after(data);
                    }
                });
            }
            if (body.is(':visible')) {
                body.hide();
            } else {
                body.show();
            }
            return false;
        });

        {#
            Show a select box to let admin choose to delete mailboxes/domains
            in how many days.

            for mail users:
                #account_delete_date
                #account_list_actions

            for domains:
                #domain_delete_date
                #domain_list_actions
        #}
        $('#account_delete_date').hide()
        $('#account_list_actions').change(function(){
            if ($(this).val() == 'delete') {
                $('#account_delete_date').show();
            } else {
                $("#account_delete_date").hide();
            }
        });

        $('#domain_delete_date').hide()
        $('#domain_list_actions').change(function(){
            if ($(this).val() == 'delete') {
                $('#domain_delete_date').show();
            } else {
                $("#domain_delete_date").hide();
            }
        });

        {# Show options if admin is not marked as global admin in admin profile page. #}
        if ($('#mark_as_global_admin').is(':checked') == false) {
            $('.normal_admin_create_domain_options').show();
        } else {
            $(".normal_admin_create_domain_options").hide();
        }
        $('#mark_as_global_admin').change(function(){
            if ($(this).is(':checked') == true) {
                $('.normal_admin_create_domain_options').hide();
            } else {
                $(".normal_admin_create_domain_options").show();
            }
        });

        {# Show options if account is marked as normal admin in user profile page. #}
        if ($('#normal_admin_options').is(':checked') == true) {
            $('.normal_admin_options').show();
        } else {
            $(".normal_admin_options").hide();
        }
        $('#normal_admin_options').change(function(){
            if ($(this).is(':checked') == true) {
                $('.normal_admin_options').show();
                $('.normal_admin_options').show();
            } else {
                $(".normal_admin_options").hide();
            }
        });
    });
    </script>

{%- endmacro %}
{# ------------ END JS ------------- #}

{% macro display_remove_mailbox_days(num) -%}
    {% if num == 0 %}
        {{ _('Keep mailbox forever') }}
    {% elif num == 1 %}
        {{ _('Keep mailbox for 1 day') }}
    {% elif 1 < num < 30  %}
        {% if num == 7 %}
            {{ _('Keep mailbox for 1 week') }}
        {% else %}
            {% set _div = num % 7 %}
            {% if _div == 0 %}
                {{ _('Keep mailbox for %d weeks') | format(num/7) }}
            {% else %}
                {{ _('Keep mailbox for %d days') | format(num) }}
            {% endif %}
        {% endif %}
    {% elif num == 30  %}
        {{ _('Keep mailbox for 1 month ') }}
    {% elif 30 < num < 365 %}
        {% set _div = num % 30 %}
        {% if _div == 0 %}
            {{ _('Keep mailbox for %d months') | format(num/30) }}
        {% else %}
            {{ _('Keep mailbox for %d days') | format(num) }}
        {% endif %}
    {% elif num == 365 %}
        {{ _('Keep mailbox for 1 year') }}
    {% else %}
        {# num > 365 #}
        {% set _div = num % 365 %}
        {% if _div == 0 %}
            {{ _('Keep mailbox for %d years') | format(num / 365) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{%- macro display_subnav(crumbs) -%}
    {# Crumb format: (link, label), ('active', link, label) #}
    {% if crumbs %}
        <div class="breadcrumb">
            <div class="pagesize">
                <ul id="breadcrumb">
                    {% for crb in crumbs %}
                        <li>
                            {%- if crb |length == 2 -%}
                                <a href="{{ crb[0] }}">{{ crb[1] }}</a>
                            {%- elif crb |length == 3 -%}
                                <a href="{{ crb[1] }}" class="inactive"><strong>{{ crb[2] }}</strong></a>
                            {%- endif -%}
                            {% if not loop.last %}/{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{%- endmacro -%}


{% macro set_account_status_img(status,
                                account_type='user',
                                is_relay=false,
                                relay='',
                                is_backupmx=false,
                                backupmx='',
                                float="right",
                                tooltip=true,
                                vcenter=true) -%}
    {# @relay is required if status == 'relay' #}
    {% if float == 'right' %}
        {% set imgfloat = 'fr-space' %}
    {% elif float == 'left' %}
        {% set imgfloat = 'fl-space' %}
    {% elif float == 'center' %}
        {% set imgfloat = 'fl-space' %}
    {% else %}
        {% set imgfloat = '' %}
    {% endif %}

    {% if is_relay in ['1', 1, true] %}
        {% set is_relay = true %}
    {% else %}
        {% set is_relay = false %}
    {% endif %}

    {% if is_backupmx in ['yes', '1', 1, true] %}
        {% set is_backupmx = true %}
    {% else %}
        {% set is_backupmx = false %}
    {% endif %}

    {% if status in ['active', '1', 1] %}
        {% if is_backupmx %}
            <span class="{{ imgfloat }} small_label bgcolor-purple"
                  title="{{ _('Domain is active, but marked as backup MX.') }}"
                  {% if vcenter %}style="vertical-align: middle;"{% endif %}
                  >{{ _('Backup MX') }}</span>
        {% elif is_relay %}
            <span class="{{ imgfloat }} small_label bgcolor-green"
                  title="{{ _('Domain is active, but relay to other host')}} ({{ relay }}) {% if backupmx in ['yes', 1] %}{{ _('without verifying local recipients') }}{% endif %}"
                  {% if vcenter %}style="vertical-align: middle;"{% endif %}
                  >{{ _('Relay') }}</span>
        {% endif %}
    {% else %}
        <i class="fa fa-ban fa-lg color-red {{ imgfloat }}"
           {% if tooltip %}title="{% if account_type == 'domain' %}{{ _('Domain is disabled.') }}{% else %}{{ _('Account is disabled.') }}{% endif %}"{% endif %}
           ></i>
    {% endif %}
{%- endmacro %}


{% macro set_user_admin_type_img(value) -%}
    {# :param value in [domainadmin, globaladmin] #}
    {% if value == 'globaladmin' %}
        <i class="fa fa-user-secret fa-lg color-blue fr-space" title="{{ _('Account is global admin') }}"></i>
    {% endif %}
{%- endmacro %}

{% macro set_admin_type_img(value, hide_negative=true) -%}
    {% if value == 'yes' %}
        <i class="fa fa-user-secret fa-lg color-blue" title="{{ _('Is a global admin.') }}"></i>
    {% else %}
        {% if hide_negative is not sameas true %}
            <i class="far fa-user-circle fa-lg color-green" title="{{ _('Not a global admin.') }}"></i>
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro set_alias_domain_img(alias_domains=None) -%}
    {% if alias_domains %}
        <span class="fr-space vcenter"
              title="{{ _('Alias domains:') }}<br />{% for d in alias_domains |sort %}<br />* {{ d |e }}{% endfor %}"
              style="font-size: 18px;"
              >A<sub>{{ alias_domains |length }}</sub>
        </span>
    {% endif %}
{%- endmacro %}

{% macro set_member_of_mailing_list_img(user, addresses=None) -%}
    {% if addresses %}
        <span class="fr-space vcenter"
              title="{{ _('Member of mailing lists:') }}<br />{% for addr in addresses |sort %}<br />* {{ addr |e }}{% endfor %}"
              style="font-size: 18px;"
              >L<sub>{{ addresses |length }}</sub>
        </span>
    {% endif %}
{%- endmacro %}

{% macro display_progress_bar(percent,
                              tooltip=none,
                              show_zero=false,
                              style='normal',
                              width='100%') -%}
    {% set percent = percent |int %}
    {% if percent < 0 %}
        {% set percent = 0 %}
    {% elif percent > 100 %}
        {% set percent = 100 %}
    {% endif %}

    {% if tooltip is sameas none %}
        {% set title = percent |string + '%' %}
    {% else %}
        {% set title = tooltip |string + ' (' + percent | string + '%)' %}
    {% endif %}

    {% if style == 'thin' %}
        {% set height = '3px' %}
    {% else %}
        {% set height = '1.6em' %}
    {% endif %}

    {% if percent < 80 %}
        {% set bgcolor = '#ACE97C' %}
    {% elif 80 <= percent < 90 %}
        {% set bgcolor = 'yellow' %}
    {% elif 90 <= percent < 99 %}
        {% set bgcolor = '#F76541' %}
    {% else %}
        {% set bgcolor = '#F62217' %}
    {% endif %}

    {% if percent > 0 or show_zero %}
        <!-- display_progress_bar -->
        <div class="progress-container" title="{{ title |e }}" style="width: {{width |e }}; height: {{height}};">
            <div class="progress-bar"
                 style="height: {{height}}; width: {{percent}}%; background-color: {{bgcolor}};"
                 ></div>
        </div>
    {% endif %}
{%- endmacro %}


{% macro display_filter_by_first_char(baseurl,
                                      first_char=None,
                                      account_type='user',
                                      disabled_only=False,
                                      available_chars=None,
                                      separator='?starts_with=') -%}
    <div class="filter_by_first_char center">
        <!-- display_filter_by_first_char -->
        <i class="fa fa-filter"
            {% if account_type == 'domain' %}
                title="{{ _('Filter domains by first character in mail domain name') }}"
            {% else %}
                title="{{ _('Filter accounts by first character in email addresses') }}"
            {% endif %}
            ></i>

        {% if not available_chars %}
            {% set available_chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
                                      'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
                                      'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
                                      'U', 'V', 'W', 'X', 'Y', 'Z'] %}
        {% endif %}

        {% for char in available_chars %}
            <a href="{{ baseurl }}{{ separator }}{{ char }}" {% if first_char == char %}class="active"{% endif %}>{{char}}</a>
        {% endfor %}

        {% if account_type in ['domain', 'user'] %}
            | <a href="{{ baseurl }}/disabled"
                {% if account_type in ['domain'] %}
                    title="{{ _('Disabled domains') }}"
                {% else %}
                    title="{{ _('Disabled accounts') }}"
                {% endif %}

                {% if disabled_only %}class="active"{% endif %}
                ><i class="fa fa-ban color-red"></i> {{ _('Disabled') }}
              </a>
        {% endif %}
    </div>
{%- endmacro %}

{% macro display_input_mail(mail='', name='mail', required=false) -%}
    {{ input_text(label=_('Mail Address'),
                  input_name=name,
                  value=mail,
                  required=required) }}
{%- endmacro %}

{% macro display_input_domain(domain='', name='domainName', required=false, enable_input=true) -%}
    {{ input_text(label=_('Domain Name'),
                  input_name=name,
                  value=domain,
                  required=required,
                  enable_input=enable_input) }}
{%- endmacro %}

{% macro display_input_employeeid(value=None) -%}
    {{ input_text(label=_('User/Employee ID'),
                  input_name='employeeNumber',
                  value=value) }}
{%- endmacro %}

{% macro display_input_mobile(value=None) -%}
    {{ input_text(label=_('Mobile'),
                  input_name='mobile',
                  value=value) }}
{%- endmacro %}

{% macro display_phone_numbers(phone_numbers=None) -%}
    {% if not phone_numbers %}
    <div class="form-field clear">
        <!-- display_phone_numbers -->
        <h4 class="size-250 fl-space">{{ _('Telephone Number') }}</h4>
        <span class="clean-padding bt-space20">
            <input type="text" name="telephoneNumber" value="" size="35" class="text" />
        </span>
    </div>
    {% else %}
        {% for phone in phone_numbers %}
        <div class="form-field clear">
            {% if loop.first %}
                <h4 class="size-250 fl-space">{{ _('Telephone Number') }}</h4>
            {% else %}
                <h4 class="size-250 fl-space">&nbsp;</h4>
            {% endif %}
            <span class="clean-padding bt-space20">
                <input type="text" name="telephoneNumber" value="{{ phone |e }}" size="35" class="text" />
            </span>
        </div>
        {% endfor %}
    {% endif %}

    {#-- Always display one more field to input new value --#}
    <div class="form-field clear">
        <h4 class="size-250 fl-space">&nbsp;</h4>
        <span class="clean-padding bt-space20">
            <input type="text" name="telephoneNumber" value="" size="35" class="text" />
        </span>
    </div>
{%- endmacro %}

{% macro display_preferred_language(value='', languagemaps=['en_US'], label=none) -%}
<div class="form-field clear">
    <!-- display_preferred_language -->
    {% if label is sameas none %}
        <h4 class="size-250 fl-space">{{ _('Preferred language') }}</h4>
    {% else %}
        <h4 class="size-250 fl-space">{{ label }}</h4>
    {% endif %}
    <select name="preferredLanguage">
        <option value="none" {% if not value %}selected{% endif %}></option>
        {% for lang in languagemaps |sort %}
            <option value="{{ lang |e }}" {% if value == lang %}selected{%endif%}>{{ languagemaps[lang] |e }}</option>
        {% endfor %}
    </select>
</div>
{%- endmacro %}

{% macro display_timezones(value, timezones) -%}
    {% if not timezones %}
        {% set timezones = {} %}
    {% endif %}

    <div class="form-field clear">
        <!-- display_timezones -->
        <h4 class="size-250 fl-space">{{ _('Time zone') }}</h4>
        <select name="timezone">
            <option value="none" {% if not value %}selected{% endif %}></option>

            {% for tz in timezones |sort %}
                <option value="{{ tz }}" {% if value == tz %}selected{% endif %}>{{ tz }} ({{ timezones[tz] }})</option>
            {% endfor %}
        </select>
    </div>
{%- endmacro %}

{% macro display_domain_selector(label=none,
                                 required=true,
                                 baseurl=none) -%}
    {%- if not label %}
        {%- set label = '' %}
    {%- endif %}
    <div class="form-field clear">
        <h4 class="size-250 fl-space">{{ label }}
            {%- if required %}<span class="required">*</span>{% endif %}</h4>
        <span class="clean-padding">
            <select name="domainName" onchange="change_url(this, baseurl=baseurl);">
            {% for d in allDomains %}
                <option value="{{ d |e }}" {% if d == cur_domain %}selected{%endif%}>{{ d |e }}</option>
            {% endfor %}
            </select>
        </span>
    </div>
{%- endmacro %}

{% macro display_input_global_admin(value='no') %}
<div class="form-field clear">
    <!-- display_input_global_admin -->
    <h4 class="size-250 fl-space">{{ _('Mark as global admin') }}</h4>
    <div class="form-checkbox-item clear">
        {#
            ldap: yes, no
            mysql: true, false
        #}
        <span class="clean-padding bt-space20">
            <input type="checkbox"
                   class="checkbox"
                   name="domainGlobalAdmin"
                   value="yes"
                   id="mark_as_global_admin"
                   {% if value in ['yes', true] %}checked="checked"{% endif %}
                   />
        </span>
    </div>
</div>
{%- endmacro %}


{# Used to display domainMaxXXXNumber #}
{% macro display_number_of_account_limited(value, hide_unlimited=true, hide_slash=false) -%}
    {% if value == '0' or value == 0 or value == 'None' %}
        {% if hide_unlimited is not sameas true %}
            <span class="color-grey">{% if hide_slash is not sameas true %}/{% endif %}<em>{{ _('Unlimited') }}</em></span>
        {% endif %}
    {%else%}
        <span class="color-grey">{% if hide_slash is not sameas true %}/ {% endif %}<em>{{ value |e }}</em></span>
    {%endif%}
{%- endmacro %}


{# Display accountStatus #}
{% macro display_account_status(status, account_type='user') %}
    <div class="form-field clear">
        <!-- display_account_status -->
        {% if account_type == 'domain' %}
            <h4 class="size-250 fl-space">{{ _('Enable this domain') }}</h4>
        {% else %}
            <h4 class="size-250 fl-space">{{ _('Enable this account') }}</h4>
        {% endif %}

        <div class="form-checkbox-item clear fl-space2">
            <input name="accountStatus"
                   type="checkbox"
                   rel="checkboxhorizont"
                   class="checkbox fl-space"
                   {% if status in ['active', 1, '1'] %}checked="checked"{%endif%}
                   />
        </div>
    </div>
{%- endmacro %}

{% macro display_reset_password(show_oldpw=false,
                                show_confirmpw=true,
                                min_passwd_length='0',
                                max_passwd_length='0',
                                store_password_in_plain_text=false,
                                enable_input=true) -%}
    {% set min_passwd_length = min_passwd_length | string %}
    {% set max_passwd_length = max_passwd_length | string %}

    {% if min_passwd_length != '0' and max_passwd_length != '0' %}
        {% set pw_hint = _('Must be %s - %s characters.') |format(min_passwd_length, max_passwd_length) %}
    {% elif min_passwd_length != '0' and max_passwd_length == '0' %}
        {% set pw_hint = _('At least %s characters.') |format(min_passwd_length) %}
    {% elif max_passwd_length == '0' and max_passwd_length != '0' %}
        {% set pw_hint = _('No more than %s characters.') |format(max_passwd_length) %}
    {% else %}
        {% set pw_hint = '' %}
    {% endif %}

    {% if show_oldpw %}
        <div class="form-field clear">
            <!-- display_reset_password -->
            <h4 class="size-250 fl-space">{{ _('Old password') }} <span class="required">*</span></h4>
            <span class="clean-padding bt-space20">
                <input type="password" size="35"
                       name="oldpw"
                       value=""
                       class="text {% if not enable_input %}disabled{% endif %}"
                       />
            </span>
        </div>
    {% endif %}

    <div class="form-field clear">
        <h4 class="size-250 fl-space">{{ _('New password') }} <span class="required">*</span></h4>
        <span class="clean-padding bt-space20">
            <input type="password"
                   size="35"
                   name="newpw"
                   value=""
                   class="text {% if not enable_input %}disabled{% endif %}"
                   />
        </span>
        {% if pw_hint != '' %}
            <small>{{ pw_hint }}</small>
        {% endif %}
    </div>

    {% if show_confirmpw %}
        <div class="form-field clear">
            <h4 class="size-250 fl-space">{{ _('Confirm new password') }} <span class="required">*</span></h4>
            <span class="clean-padding bt-space20">
                <input type="password" size="35"
                       name="confirmpw"
                       value=""
                       class="text {% if not enable_input %}disabled{% endif %}"
                       />
            </span>
        </div>
    {% endif %}

    {% if store_password_in_plain_text %}
        <div class="form-field clear">
            <h4 class="size-250 fl-space">{{ _('Store password in plain text') }}</h4>
            <span class="clean-padding bt-space20"><input type="checkbox" name="store_password_in_plain_text" class="checkbox" /></span>
        </div>
    {% endif %}
{%- endmacro %}

{% macro display_quota(value='',
                       label='',
                       comment='',
                       name='',
                       input_size=6,
                       class='text',
                       used_quota=0,
                       stored_messages=0,
                       spare_quota_bytes=0,
                       show_spare_quota=false,
                       show_value_in_input=true,
                       hide_zero=true,
                       show_used_quota=false,
                       show_unit_selector=false,
                       show_unit=false,
                       default_unit='MB',
                       enable_input=true) -%}
    {# Convert to string #}
    {% set used_quota = used_quota |string %}

    {% if spare_quota_bytes > 0 %}
        {% if value > spare_quota_bytes/1024/1024 %}
            {% set value = spare_quota_bytes/1024/1024 %}
        {% endif %}
    {% endif %}
    {% set value = value |string %}

    {% if hide_zero %}
        {% if value == '0' %}
            {% set value = '' %}
        {% endif %}
    {% endif %}

    <div class="form-field clear">
        <!-- display_quota -->
        {%- if label == '' %}
            <h4 class="size-250 fl-space">{{ _('Mailbox Quota') }}</h4>
        {%- else %}
            <h4 class="size-250 fl-space">{{ label |e }}</h4>
        {%- endif %}

        <div class="clean-padding fl-space2">
            <input type="text" size="{{ input_size }}"
                   name="{{ id }}"
                   value="{% if show_value_in_input %}{{ value |e }}{% endif %}"
                   class="{{ class }} {% if not enable_input %}disabled{% endif %}"
                   />
            {%- if show_unit_selector %}
                <select name="{{ id }}Unit">
                    <option value="TB" {% if default_unit == 'TB' %}selected="selected"{% endif %}>TB</option>
                    <option value="GB" {% if default_unit == 'GB' %}selected="selected"{% endif %}>GB</option>
                    <option value="MB" {% if default_unit == 'MB' %}selected="selected"{% endif %}>MB</option>
                </select>
            {%- endif %}
            {%- if show_unit %}
                <label>{{ default_unit }}</label>
            {%- endif %}

            {%- if show_used_quota %}
                {%- if value |int > 0 %}
                    {%- if session.get('show_used_quota') and value.isdigit() and used_quota.isdigit() %}
                        {%- set percent = used_quota |convert_to_percentage(value |int * 1024 * 1024) %}

                        {%- if (stored_messages | int) > 0 %}
                            <label class="fr-space">{{ _('(%d%% full, %d messages, %s.)') | format(percent, stored_messages |int, used_quota | file_size_format) }}</label>
                        {%- else %}
                            <label class="fr-space color-grey">{{ _('(Mailbox is empty.)') }}</label>
                        {%- endif %}
                    {%- endif %}
                {%- elif value | int == 0 %}
                    <label class="fr-space">{{ _('(%d messages, %s.)') | format(stored_messages |int, used_quota | file_size_format) }}</label>
                {%- endif %}
            {%- endif %}
        </div>
    </div>
{%- endmacro %}

{% macro display_domain_cn(cn='', input_name='cn', enable_input=true) -%}
    {% if cn in [None, 'None'] %}
        {% set cn = '' %}
    {% endif %}

    <div class="form-field clear">
        <!-- display_domain_cn -->
        <h4 class="size-250 fl-space">{{ _('Company/Organization Name') }}</h4>

        <span class="clean-padding bt-space20">
            <input type="text"
                   name="{{ input_name |e }}"
                   value="{{ cn |e }}"
                   size="35"
                   class="text {% if not enable_input %}disabled{% endif %}"
                   {% if not enable_input %}disabled="disabled"{% endif %}
                   />
        </span>
    </div>
{% endmacro %}

{% macro display_input_cn(value='',
                          input_name='cn',
                          account_type='user',
                          tooltip='',
                          size="size-250",
                          show_first_last_name=false,
                          first_name='',
                          last_name='',
                          email='',
                          empty_if_equal_to_username=true,
                          enable_input=true) -%}
    {% if value is sameas none %}
        {% set value = '' %}
    {% endif %}

    {% if account_type == 'user' and mail %}
        {% set username = email.split('@', 1)[0] %}
        {% if value == username and empty_if_equal_to_username %}
            {% set value = '' %}
        {% endif %}

        {% if first_name == username and empty_if_equal_to_username %}
            {% set first_name = '' %}
        {% endif %}

        {% if last_name == username and empty_if_equal_to_username %}
            {% set last_name = '' %}
        {% endif %}
    {% endif %}

    <div class="form-field clear">
        <!-- display_input_cn -->
        <h4 class="{{ size }} fl-space">{{ _('Display Name') }}</h4>

        <span class="clean-padding bt-space20">
            <input type="text" size="35"
                   name="{{ input_name |e }}"
                   value="{{ value |e }}"
                   class="text {% if not enable_input %}disabled{% endif %}"
                   {% if tooltip != '' %}title="{{ tooltip |e }}"{% endif %}
                   />
        </span>
    </div>

    {% if show_first_last_name %}
    <div class="form-field clear">
        <h4 class="size-250 fl-space">&nbsp;</h4>
        <div class="clear clean-padding bt-space20">
            <input type="text" size="14"
                   name="first_name"
                   value="{{ first_name |e }}"
                   class="text {% if not enable_input %}disabled{% endif %}"
                   title="{{ _('First name') }}" />
            <input type="text" size="15"
                   name="last_name"
                   value="{{ last_name |e }}"
                   class="text {% if not enable_input %}disabled{% endif %}"
                   title="{{ _('Last name') }}"/>
        </div>
    </div>
    {% endif %}
{%- endmacro %}


{% macro display_mark_user_as_admin(is_global_admin=false) %}
<div class="form-field clear">
    <!-- display_mark_user_as_admin -->
    <h4 class="size-250 fl-space">{{ _('Mark this user as global admin') }}</h4>

    <div class="form-checkbox-item clear">
        <span class="clean-padding bt-space20 required">
            <input class="checkbox"
                   name="domainGlobalAdmin"
                   value="global"
                   type="checkbox"
                   {% if is_global_admin in [1, true, 'yes'] %}checked="checked"{%endif%}
                   />
        </span>
        <span class="color-grey"><em>{{ _('Note: Global admin can manage all mail domains.') }}</em></span>
    </div>
</div>
{%- endmacro %}

{% macro display_add_admin(min_passwd_length='0', max_passwd_length='0', lang='en_US', languagemaps=['en_US']) -%}
            {{ display_input_mail(required=true) }}

            <div class="bt-space5">&nbsp;</div>

            {{ display_reset_password(show_confirmpw=true,
                                      min_passwd_length=min_passwd_length,
                                      max_passwd_length=max_passwd_length) }}

            <div class="rule"></div>
            {{ display_input_cn() }}
            {{ display_preferred_language(lang, languagemaps) }}
{%- endmacro %}


{% macro display_add_domain(label=false,
                            preferred_language='en_US',
                            languagemaps=['en_US'],
                            timezones=None) %}
    <div id="domain_add" class="box-wrap clear">
        <!-- display_add_domain -->
        {% if label %}
            <h3>{{ _('Add domain') }}</h3>
        {% endif %}

        <form name="form_add_domain" method="post" action="{{ctx.homepath}}/create/domain">

            {{ input_csrf_token() }}
            {{ display_input_domain(required=true) }}
            {{ display_domain_cn() }}

            <div class="rule2"></div>

            <h4 class="size-250 fl-space">&nbsp;</h4>
            <span class="clean-padding bt-space20">
                <input type="submit"
                       name="submit_add_domain"
                       value="{{ _('Add') }}"
                       class="button green"
                       />
            </span>
        </form>
    </div>
{%- endmacro %}


{% macro display_list_access_policy_name(policy, enable_input=true) -%}
    {% if policy %}
        {% set policy = policy.lower() %}
        {% if policy not in ['public', 'domain', 'subdomain',
                             'membersonly',
                             'moderatorsonly', 'allowedonly',
                             'membersandmoderatorsonly'] %}
            {% set policy = 'public' %}
        {% endif %}
    {% else %}
        {% set policy = 'public' %}
    {% endif %}

    {% if policy == 'public' %}
        {{ _('Unrestricted') }}
    {% elif policy == 'domain' %}
        {{ _('Users under same domain') }}
    {% elif policy == 'subdomain' %}
        {{ _('Users under same domain and its sub-domains') }}
    {% elif policy == 'membersonly' %}
        {{ _('Members') }}
    {% elif policy in ['allowedonly', 'moderatorsonly'] %}
        {{ _('Moderators') }}
    {% elif policy == 'membersandmoderatorsonly' %}
        {{ _('Members and moderators') }}
    {% else %}
        {{ _('Unrestricted') }}
    {% endif %}
{% endmacro %}

{% macro display_list_access_policies(policy,
                                      enable_members_and_moderators_only=true,
                                      enable_input=true) -%}
    {% if policy %}
        {% set policy = policy.lower() %}

        {% if policy not in ['public', 'domain', 'subdomain',
                             'membersonly',
                             'allowedonly', 'moderatorsonly',
                             'membersandmoderatorsonly'] %}
            {% set policy = 'public' %}
        {% endif %}

        {# Use 'moderatorsonly' instead of 'allowedonly' #}
        {% if policy == 'allowedonly' %}
            {% set policy = 'moderatorsonly' %}
        {% endif %}
    {% else %}
        {% set policy = 'public' %}
    {% endif %}

    {% set policies = [
        ('public', _('Unrestricted') + '.&nbsp;' + _('Everyone can send mail to this address')),
        ('domain', _('Users under same domain')),
        ('subdomain', _('Users under same domain and its sub-domains')),
        ('membersonly', _('Members')),
        ('moderatorsonly', _('Moderators')),
        ]
    %}

    {% if enable_members_and_moderators_only %}
        {% set policies = policies + [('membersandmoderatorsonly', _('Members and moderators'))] %}
    {% endif %}

    {% for p in policies %}
    <div class="form-field clear">
        {% if not loop.first %}
            <h4 class="size-250 fl-space">&nbsp;</h4>
        {% else %}
            <h4 class="size-250 fl-space">{{ _('Who can send email to this list') }}</h4>
        {% endif %}

        <span class="clean-padding">
            <input type="radio"
                   name="accessPolicy"
                   value="{{ p[0] }}"
                   {% if policy == p[0] %}checked="checked"{%endif%}
                   {% if not enable_input %}disabled=disabled{% endif %}
                   /> {{ p[1] }}
        </span>
    </div>
    {% endfor %}
{% endmacro %}


{% macro highlight_username_in_mail(mail) -%}
    <span><strong>{{ mail.split('@')[0] |e }}</strong></span><span class="color-grey"><em>@{{ mail.split('@')[-1] |e }}</em></span>
{% endmacro %}

{%- macro display_random_password(password_length,
                                  password_policies,
                                  replace_ids=None,
                                  password_last_change_date=None) -%}
    <div class="mark_blue bt-space10">
        {% if true in password_policies.values() %}
            <h4>{{ _('Password must contain') }}</h4>
            <ul class="standard clean-padding bt-space10">
                {% if password_policies['min_passwd_length'] %}
                    <li class="bt-space5">{{ _('At least %d characters.') |format(password_policies['min_passwd_length']) }}</li>
                {% endif %}

                {% if password_policies['max_passwd_length'] %}
                    <li class="bt-space5">{{ _('No more than %d characters.') |format(password_policies['max_passwd_length']) }}</li>
                {% endif %}

                {% if password_policies['has_letter'] %}
                    <li class="bt-space5">{{ _('At least one letter') }}</li>
                {% endif %}

                {% if password_policies['has_uppercase'] %}
                    <li class="bt-space5">{{ _('At least one uppercase letter') }}</li>
                {% endif %}

                {% if password_policies['has_number'] %}
                    <li class="bt-space5">{{ _('At least one digit number') }}</li>
                {% endif %}

                {% if password_policies['has_special_char'] %}
                    <li class="bt-space5">{{ _('At least one special character:') }} <em>{{ password_policies['special_characters'] |e }}</em></li>
                {% endif %}
            </ul>
        {% endif %}

        <div class="rule"></div>

        {% set random_password = password_length | generate_random_password %}

        <h4>{{ _('Need a strong password?') }}</h4>
        <p class="clean-padding clean-padding bt-space10">{{ random_password | e }}</p>
        <p><input type="button" onclick="fill_random_password()" value="{{ _('Use this password') }}" /></p>

        <script type="text/javascript">
            function fill_random_password() {
                document.getElementsByName("newpw")[0].value = "{{ random_password }}";
                document.getElementsByName("confirmpw")[0].value = "{{ random_password }}";
            }
        </script>

        {% if password_last_change_date %}
            <h4>{{ _('Password last change:') }}</h4>
            <p class="clean-padding clean-padding bt-space10">{{ password_last_change_date | utc_to_timezone(timezone=session.get('timezone')) }}</p>
        {% endif %}

    </div>
{%- endmacro -%}

{% macro show_pages(baseurl, total, cur_page, near_pages=4, sep='/page/', url_suffix='') -%}
    {% if total % page_size_limit > 0 %}
        {% set total_pages = total // page_size_limit + 1 %}
    {% else %}
        {% set total_pages = total // page_size_limit %}
    {% endif %}

    {% set baseurl = baseurl |e %}
    {% set sep = sep |e %}

    <div class="pager fr">
        {# Show links of 'First Page', 'Previous Page' #}
        {%- if total_pages > 0 -%}
            <span class="nav">
                {% if total_pages > 3 %}
                    <a href="{{baseurl}}{{sep}}1{{url_suffix}}" class="first" title="{{ _('First Page') }}"><span>{{ _('First Page') }}</span></a>
                {% endif %}

                {% if cur_page != 1 and cur_page != 0 %}
                    <a href="{{baseurl}}{{sep}}{{cur_page - 1}}{{url_suffix}}" class="previous" title="{{ _('Previous Page') }}" ><span>{{ _('Previous Page') }}</span></a>
                {% endif %}
            </span>
        {%- endif -%}

        <span class="pages">
        {% if total_pages <= near_pages %}
            {# Show all cur_page numbers if total pages is less than or equal to 4 pages.#}
            {% for page_no in range(1, total_pages + 1) %}
                <a href="{{baseurl}}{{sep}}{{page_no}}{{url_suffix}}" {% if page_no == cur_page %}class="active"{% endif %}><span>{{page_no}}</span></a>
            {% endfor %}
        {% else %}
            {# Show current cur_page number and near numbers.#}
            {% if cur_page <= near_pages %}
                {# Show near pages. #}
                {% if total_pages - cur_page <= near_pages %}
                    {% set end_page = cur_page + (total_pages - cur_page) %}
                {% else %}
                    {% set end_page = cur_page + near_pages %}
                {% endif %}

                {% for page_no in range(1, end_page) %}
                    {% if page_no != cur_page %}
                        <a href="{{baseurl}}{{sep}}{{page_no}}{{url_suffix}}"><span>{{page_no}}</span></a>
                    {% else %}
                        <a href="#" class="active"><span>{{ cur_page }}</span></a>
                    {% endif %}
                {% endfor %}

                {# Show last page. #}
                {% if cur_page + near_pages < total_pages %}
                    {% if cur_page + near_pages <= total_pages - 1 %}<a href="#"><span>...</span></a>{% endif %}
                {% endif %}
                <a href="{{baseurl}}{{sep}}{{total_pages}}{{url_suffix}}"><span>{{total_pages}}</span></a>
            {% else %}
                {# Show first page number. #}
                {%- if cur_page - near_pages == 2 -%}
                    <a href="{{baseurl}}{{sep}}1{{url_suffix}}"><span>1</span></a>
                {%- elif cur_page - near_pages > 2 -%}
                    <a href="{{baseurl}}{{sep}}1{{url_suffix}}"><span>1</span></a>
                    <a href="#"><span>...</span></a>
                {%- endif -%}

                {# Show nearby pages which number larger than cur_page. #}
                {% if total_pages - cur_page < near_pages %}
                    {% set end_page = cur_page + (total_pages - cur_page) %}
                {% else %}
                    {% set end_page = cur_page + near_pages %}
                {% endif %}

                {% for page_no in range((cur_page-near_pages), end_page + 1) %}
                    {% if page_no != cur_page %}
                        <a href="{{baseurl}}{{sep}}{{page_no}}{{url_suffix}}" ><span>{{page_no}}</span></a>
                    {% else %}
                        <a href="#" class="active"><span>{{ cur_page }}</span></a>
                    {% endif %}
                {% endfor %}

                {% if total_pages - cur_page > near_pages and total_pages - cur_page != near_pages + 1 %}
                    <a href="#"><span>...</span></a>
                {% endif %}

                {% if end_page < total_pages %}
                    <a href="{{baseurl}}{{sep}}{{total_pages}}{{url_suffix}}" ><span>{{total_pages}}</span></a>
                {% endif %}
            {% endif %}
        {% endif %}
        </span>

        {# -- Show 'Next' and 'Last' -- #}
        {% if total_pages > 0 %}
        <span class="nav">
            {% if cur_page < total_pages and cur_page != 0 %}
                <a href="{{ baseurl }}{{ sep }}{{ cur_page + 1 }}{{url_suffix}}" class="next" title="{{ _('Next Page') }}"><span>{{ _('Next Page') }}</span></a>
            {% endif %}

            {% if total_pages != 1 %}
                <a href="{{ baseurl }}{{ sep }}{{ total_pages }}{{url_suffix}}" class="last" title="{{ _('Last Page') }}"><span>{{ _('Last Page') }}</span></a>
            {% endif %}
        </span>
        {% endif %}
    </div>
{%- endmacro %}


{# Convert event code to event name #}
{% macro show_event_name(event) -%}
    {% set event_names = {'all': _('Events'),
                          'login': _('Admin login'),
                          'user_login': _('User login (self-service)'),
                          'create': _('Add account'),
                          'delete': _('Delete account'),
                          'disable': _('Disable account'),
                          'active': _('Activate account'),
                          'update': _('Edit account profile'),
                          'grant': _('Grant admin'),
                          'revoke': _('Revoke admin privilege'),
                          'backup': _('Backup'),
                          'update_wblist': _('Update whitelists and blacklists'),
                          'iredapd': 'iRedAPD',
                          'unban': _('Unban IP address'),
                          'delete_mailboxes': _('Delete mailboxes')} %}

    {% if event in event_names %}
        {{ event_names[event] }}
    {% else %}
        {{ event |e }}
    {% endif %}
{%- endmacro %}
