{%- from "macros/form_inputs.html" import
    input_csrf_token
    with context
    -%}
{%- from "macros/general.html" import load_jquery -%}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{%endblock%}</title>

    {# CSS #}
    <link rel="stylesheet" type="text/css" href="{{ctx.homepath}}/static/{{skin}}/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ctx.homepath}}/static/{{skin}}/css/fancybox.css" />
    <link rel="stylesheet" type="text/css" href="{{ctx.homepath}}/static/fontawesome/css/fontawesome-all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ctx.homepath}}/static/{{skin}}/css/screen.css" />
    <link rel="icon" type="image/x-icon" href="{{ctx.homepath}}/static/{% if brand_favicon %}{{ brand_favicon }}{% else %}favicon.ico{% endif %}" />
</head>

<body>
    <div class="pagetop">
        <div class="head pagesize">{# -- head layout -- #}
            <div class="head_top">
                <div class="topbuts">
                    <ul class="clear">
                        <li>
                            <form method="post" action="/search" class="search_form">
                            <!--suppress ALL -->
                            <input type="hidden" name="csrf_token" value="{{ input_csrf_token() }}">
                            <i class="fa fa-search-plus fa-lg color-green"></i>
                            <input type="text" name="searchString" size="30" placeholder="Search mail accounts" class="search_field">
                            </form>
                        </li>
                        <li><a href="{{ctx.homepath}}/profile/{%if session.get('admin_is_mail_user') %}user{%else%}admin{%endif%}/general/{{session.get('username')}}">{{ _('Preferences') }}</a></li>
                        <li><a href="{{ctx.homepath}}/logout" class="red">{{ _('Logout') }}</a></li>
                    </ul>

                    <div class="user clear">
                        <span class="user-detail">
                            <span class="text">{{ _('Logged in as %s') |format(session.get('username')) }}</span>
                        </span>
                    </div>
                </div>

                <div class="logo clear">
                    <a href="{{ctx.homepath}}/">
                        {# Logo image and brand name, description #}
                        {% if brand_logo %}
                            <img src="{{ctx.homepath}}/static/{{ brand_logo }}" alt="logo" class="picture" />
                        {% endif %}
                        <span class="textlogo">
                            <span class="title">{{ brand_name }}</span>
                            <span class="text">{{ brand_desc }}</span>
                        </span>
                    </a>
                </div>
            </div> <!-- *** End head_top *** -->

            <div class="menu"><!-- menu -->
                <ul class="clear">
                    <li {% block navlinks_dashboard %}{% endblock %}><a href="{{ctx.homepath}}/dashboard">{{ _('Dashboard') }}</a></li>
                    <li {% block navlinks_domains %}{% endblock %}><a href="{{ctx.homepath}}/domains">{{ _('Domains and Accounts') }}</a></li>

                    {# Display extra menus for global admin. #}
                    {% if session.get('is_global_admin') %}
                        <li {% block navlinks_admins %}{% endblock %}><a href="{{ctx.homepath}}/admins">{{ _('Admins') }}</a></li>
                    {% endif %}

                    <li {% block navlinks_activities %}{% endblock %}><a href="#">{{ _('Activities') }}</a>
                        <ul>
                            <li><a href="{{ctx.homepath}}/activities/admins">{{ _('Admin Log') }}</a></li>
                            <li><a href="{{ctx.homepath}}/activities/fail2ban/banned">{{ _('Banned IP Addresses') }}</a></li>
                            <li><a href="{{ctx.homepath}}/activities/smtp/sessions">{{ _('SMTP Sessions') }}</a>
                                <ul>
                                    <li><a href="{{ctx.homepath}}/activities/smtp/sessions">{{ _('All SMTP Sessions') }}</a></li>
                                    <li><a href="{{ctx.homepath}}/activities/smtp/sessions/rejected">{{ _('Rejected SMTP Sessions') }}</a></li>
                                    <li><a href="{{ctx.homepath}}/activities/smtp/sessions/outbound">{{ _('Outbound SMTP Sessions') }}</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ctx.homepath}}/activities/sent">{{ _('Sent Mails') }}</a></li>
                            <li><a href="{{ctx.homepath}}/activities/received">{{ _('Received Mails') }}</a></li>



                                <li><a href="{{ctx.homepath}}/activities/quarantined">{{ _('Quarantined Mails') }}</a>
                                    <ul>
                                        <li><a href="{{ctx.homepath}}/activities/quarantined/spam">{{ _('Spam') }}</a>
                                        </li><li><a href="{{ctx.homepath}}/activities/quarantined/virus">{{ _('Virus') }}</a>
                                        </li><li><a href="{{ctx.homepath}}/activities/quarantined/banned">{{ _('Banned') }}</a>
                                        </li><li><a href="{{ctx.homepath}}/activities/quarantined/badheader">{{ _('Bad Header') }}</a>
                                        </li><li><a href="{{ctx.homepath}}/activities/quarantined/clean">{{ _('Clean') }}</a>
                                    </li></ul>
                                </li>
                        </ul>
                    </li>

                    <li><a href="{{ctx.homepath}}/activities/admins">{{ _('System') }}</a>
                        <ul>
                                <li><a href="{{ctx.homepath}}/system/settings">{{ _('Settings') }}</a></li>
                                <li><a href="{{ctx.homepath}}/verify/domain_ownership">{{ _('Domain ownership verification') }}</a></li>
                                <li><a href="{{ctx.homepath}}/system/spampolicy">{{ _('Global Spam Policy') }}</a></li>
                                <li><a href="{{ctx.homepath}}/system/wblist">{{ _('Whitelists &amp; Blacklists') }}</a></li>
                                <li><a href="{{ctx.homepath}}/system/greylisting">{{ _('Greylisting') }}</a></li>
                                <li><a href="{{ctx.homepath}}/system/throttle">{{ _('Throttle') }}</a></li>
                        </ul>
                    </li>

                    <li {% block navlinks_create %}{% endblock %}>
                        <a href="#"><i class="fa fa-plus fa-lg"></i> {{ _('Add') }}...</a>
                        <ul>
                            <li><a href="{{ctx.homepath}}/create/domain">{{ _('Domain') }}</a></li>
                            <li><a href="{{ctx.homepath}}/create/admin">{{ _('Admin') }}</a></li>
                            <li><a href="{{ctx.homepath}}/create/user">{{ _('User') }}</a></li>
                            <li><a href="{{ctx.homepath}}/create/ml">{{ _('Mailing List (Subscribable)') }}</a></li>
                            <li><a href="{{ctx.homepath}}/create/alias">{{ _('Alias') }}</a></li>
                            <li><a href="{{ctx.homepath}}/create/wblist">{{ _('Whitelists &amp; Blacklists') }}</a></li>
                        </ul>
                    </li>

                </ul>
            </div> <!-- End menu -->

        </div> <!-- End head layout -->
    </div><!-- End page top -->

    {% block breadcrumb %}{% endblock %}

    <div class="main pagesize"> <!-- *** mainpage layout *** -->
        <div class="main-wrap">
            <div class="page clear">
                {# Main page content #}
                {% block main %}{% endblock %}

            </div>{# -- End .page .clear -- #}
        </div>{# -- End .main-wrap -- #}
    </div>{# -- End .main .pagesize -- #}

    {# Page footer #}
    {% block footer %}
    <div class="footer">
        <div class="pagesize clear">
            <p class="bt-space0">
                &copy; <a href="https://www.iredmail.org/" target="_blank" rel="noopener">iRedMail</a>
                | <img src="https://commons.wikimedia.org/wiki/File:Open_Source_Initiative_keyhole.svg" width=20 height=20>
                  <a href="https://gitlab.com/wt0f/iredadmin-freedom" target="_blank" rel="noopener">{{ _('iRedAdmin-Freedom') }}</a>
                {% if session.get('is_global_admin') %}
                    | <a href="https://forum.iredmail.org/" target="_blank" rel="noopener">{{ _('Support') }}</a>
                {% else %}
                    | <a href="mailto:{{session.get('webmaster')}}">{{ _('Contact webmaster') }}</a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endblock footer %}

    {# Basic javascript functions. #}
    <script type="text/javascript">
        // redirect to url
        function change_url(domain, baseurl) {
            if ( domain.options[domain.selectedIndex].value != 'none' ) {
                location.href = baseurl + domain.options[domain.selectedIndex].value;
            }
        };
    </script>

    {#-- Load jQuery --#}
    {% block js %}
        {{ load_jquery() }}
    {% endblock js %}

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
