{% extends "layout.html" %}
{% from "macros/form_inputs.html" import
        input_csrf_token,
        input_submit,
        input_text,
        input_radios
        with context %}
{% from "macros/general.html" import
        display_subnav,
        display_domain_selector
        with context %}
{% from "macros/msg_handlers.html" import user_msg_handler with context %}

{% block title %}{{ _('Add alias') }}{% endblock title %}
{% block navlinks_create %}class="active"{% endblock %}

{% block breadcrumb %}
    {% set crumbs = [
            (ctx.homepath + '/domains', _('All domains')),
            (ctx.homepath + '/profile/domain/general/' + cur_domain, cur_domain),
            (ctx.homepath + '/users/' + cur_domain, _('Users')),
            (ctx.homepath + '/maillist/' + cur_domain, _('Maillist')),
            (ctx.homepath + '/aliases/' + cur_domain, _('Aliases')),
            (ctx.homepath + '/admins/' + cur_domain, _('Admins')),
            ]
            %}
    {{ display_subnav(crumbs) }}
{% endblock %}


{% block main %}
{# Show system message #}
{% if msg %}
    {% if msg.startswith('PW_') %}
        {% set _pw_errors = msg.split(',') %}
        {% for _err in _pw_errors %}
            {{ user_msg_handler(_err) }}
        {% endfor %}
    {% else %}
        {{ user_msg_handler(msg) }}
    {% endif %}
{% endif %}

    <div class="content-box">
        <div class="box-body">
            <div class="box-header clear">
                <ul class="tabs clear">
                    <li><a href="{{ctx.homepath}}/create/user/{{cur_domain}}"><i class="fa fa-plus"></i> {{ _('User') }}</a></li>
                    <li><a href="{{ctx.homepath}}/create/maillist/{{cur_domain}}"><i class="fa fa-plus"></i>{{ _('Maillist') }}</a></li>
                    <li class="active"></li><a href="#alias_add"><i class="fa fa-plus"></i>{{ _('Alias') }}</a></li>
                </ul>

                <h2>{{ _('Add mail alias') }}</h2>
            </div>

            <div id="alias_add" class="box-wrap clear">
                <div class="notification note-attention">
                    <p><i class="fa fa-exclamation-triangle fa-lg fa-fw">
                        It's better to create a subscribable mailing list, so
                        that you can restrict the mail posting and delivery.
                    </i></p>
                </div>
                <form name="form_add_alias" method="post" action="{{ctx.homepath}}/create/alias/{{cur_domain}}">
                    <!--suppress ALL -->
                    {{ input_csrf_token() }}

                    {{ display_domain_selector(
                        label=_('Add mail alias under domain'),
                        required=true, baseurl='{{ctx.homepath}}/create/alias') }}

                    {{ input_text(input_name='listname',
                        label=_('Mail Address'), required=true,
                        comment='@{{cur_domain}}', comment_as_label=true,
                        enable_input=false) }}

                    {{ input_text(input_name='cn',
                        label=_('Display Name'), enable_input=false)}}

                    <div class='rule'></div>

                    {{ input_radios(input_name='accessPolicy',
                        label=_('Who can send email to this list'),
                        options=[('public', 'Unrestricted. Everyone can send mail to this address'),
                                 ('domain', 'Users under same domain'),
                                 ('subdomain', 'Users under same domain and its sub-domains'),
                                 ('membersonly', 'Members'),
                                 ('moderatorsonly', 'Moderators')
                                 ('membersandmoderatorsonly', 'Members and moderators')]) }}


                    </div>
                    {{ input_submit() }}
                </form>
            </div>{# -- End box-wrap -- #}
        </div>{# -- End content-box -- #}
    </div>{# -- End box-body -- #}
{% endblock main %}
